" .ideavimrc is a configuration file for ideavim plugin. it uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc

set ideajoin
set surround
set which-key
set notimeout
let g:WhichKey_ShowVimActions = "true"
let mapleader = " "

"" -- suggested options --
" show a few lines of context around the cursor.
set scrolloff=5

" do incremental searching.
set incsearch
set showmode
set showcmd

" using vim keys for navigation in file tree
set nerdtree

" don't use ex mode, use q for formatting.
map q gq

" --- enable ideavim plugins https://jb.gg/ideavim-plugins

" -- QuickScope plugin
set quickscope

" highlight copied text
Plug 'machakann/vim-highlightedyank'
" commentary plugin
Plug 'tpope/vim-commentary'

filetype plugin indent on

" -- map ide actions to ideavim -- https://jb.gg/abva4t
" map \r to the reformat code action
"map \r <action>(reformatcode)

" map <leader>d to start debug
"map <leader>d <action>(debug)

" map \b to toggle the breakpoint on the current line
"map \b <action>(togglelinebreakpoint)

" map code action
map <leader>ca <Action>(ShowIntentionActions)
let g:WhichKeyDesc_quickfix = "<leader>ca Code Actions"

map <leader>x <Action>(SelectInProjectView)
" map search
map <leader>sa <Action>(ShowIntentionActions)
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(FindInPath)
map <leader>? <Action>(RecentFiles)

" diagnostics
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map gl <Action>(ShowErrorDescription)

" LSP actions
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>go <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gr <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
